HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# macOS에서 생기는 불필요한 파일 무시
.DS_Store

# Java, Spring 관련
/target/
/out/
*.class
*.jar
*.war

# IntelliJ나 Eclipse 같은 IDE 관련
.idea/
*.iml
*.ipr
*.iws
*.log

# 환경설정 파일
*.env
.env.*

# 로그
logs/
*.log

# 기타
node_modules/
